Package: com.udevs.vedette
Name: Vedette
Version: 2.0.2
Architecture: iphoneos-arm
Description: Lightweight immediate CPU-limit termination for selected processes
Maintainer: udevs
Author: udevs
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate (>= 0.9.5000), preferenceloader
Icon: https://udevsharold.github.io/repo/depictions/com.udevs.vedette/icon/icon.png
Depiction: https://udevsharold.github.io/repo/depictions/?p=com.udevs.vedette
